:root {
  --colour-header: #192e42;
  --colour-card-header: #0e2f44;
  --colour-card: #e6eaf3;
  --colour-border: #708fab;
  --colour-active: #224353;
  --colour-body: #bed1e1;
}

body {
  background-color: var(--colour-body);
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

nav, .page-footer {
  background-color: var(--colour-header);
  padding-bottom: 20px;
  align-items: center;
}

.tabs {
  overflow-x: unset;
  overflow-y: unset;
  /* overflow: hidden; */
}

.stndrd-page {
  min-height: calc(100vh - 127px);
}
 .auth-page {
  min-height: calc(100vh - 127px);
}

.home-page {
  min-height: calc(100vh - 105px);
}

.card {
  background-color: var(--colour-card);
}
.card-action {
  background-color: var(--colour-card-header) !important;
}

.brand {
  display: flex;
  margin-left: 11px;
}
.brand-name {
  padding-left: 24px;
  font-size:larger
}

.auth-card {
  margin-top: 75px;
}
.auth-fail {
  color:white;
}

.login-btn {
  width: 100%;
  margin-top: 40px;
  background-color: var(--colour-card-header) !important;
}

input::placeholder {

color: grey;
}

/* dt {
  float:left;
}
dd {
  float: right;
} */
dl {
  display: grid;
  grid-template-columns: 45% 55%;
}

.about-lists {
  display: grid;
  grid-template-columns: 20% 80%;
}

.about-lists dt{
  font-weight: bold;
}


.about-heading {
  padding-top: 15px;
  font-weight: bold;
}

.copyright {
  margin-top: -10px;
}
@media only screen and (max-width: 545px) {
  .brand-name {
    font-size:large
  }
  .brand img {
    width: 50px;
    height: 55px;
  }
}

@media only screen and (max-width: 545px) {
  .brand-name {
    font-size:small
  }
}